.large{
	font-size: 20px;
}

.medium{
	font-size: 15px;
}

.small{
	font-size: 10px;
}

/* DIALOG */
GtkDialog{
	border: 1px solid rgb(201,198,194);
	border-radius: 8px;
}
.dialog_title{
	font-weight : bold;
	font-size: 1em;
}
.dialog_body{
	font-size: 0.9em;
}
.dialog_button{
	font-size: 1.3em;
	padding: 0.3em 1em 0.3em 1em;
	color: shade(gray,0.5);
}
.operation_dialog_buttons GtkLabel{
	font-size: 0.75em;
}
.operation_dialog_buttons GtkButton{
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	font-size: 1.1em;
}
.error_label{
	font-size: 0.75em;
}
.ok_button{
	background-image: -gtk-gradient(
		linear,
		left top, left bottom,
		from(shade(coral,1.2)),
		to(coral));
}
.ok_button:active{
	background-image: -gtk-gradient(
		linear,
		left top, left bottom,
		from(coral),
		to(shade(coral,1.2)));
}
.cancel_button{
	color: shade(gray,0.5);
	background-image: -gtk-gradient(
		linear,
		left top, left bottom,
		from(shade(gray,1.9)),
		to(shade(gray,1.5)));
}
.cancel_button:active{
	background-image: -gtk-gradient(
		linear,
		left top, left bottom,
		from(shade(gray,1.5)),
		to(shade(gray,1.9)));
}
/* Recorder - Vumeter */
.vumeter_high{
    color: red;
}
.vumeter_medium{
    color: orange;
}
.vumeter_low{
    color: green;
}

.label_small{
    font-size: 0.75em;
}
/* Recorder - Tabs */
GtkNotebook tab:active{
	background-image: inherit;
}
GtkNotebook tab{
	background-image: -gtk-gradient(
		linear,
		left top, right top,
		from(shade(gray,1.9)),
		to(shade(gray,1.5)));
}
/* Progress bar (Vumeter)*/
.horizontal_vumeter.trough{
	background-image: -gtk-gradient(
                linear,
                left bottom, right bottom,
                from(green),
		color-stop(0.7,yellow),
                to(red));
}
.vertical_vumeter.trough{
	background-image: -gtk-gradient(
                linear,
                left bottom, left top,
                from(green),
		color-stop(0.7,yellow),
                to(red));
}

.horizontal_vumeter.progressbar,
.vertical_vumeter.progressbar{
	background-color: shade(gray,1.7);
	margin: 0;
	border: 0px;
	border-radius: 0px;
}
