.large{
	font-size: 20px;
}

.medium{
	font-size: 15px;
}

.small{
	font-size: 10px;
}

.dialog_title{
	font-weight : bold;
	font-size: 2em;
}
.dialog_body{
	font-size: 1.5em;
}
.dialog_button{
	font-size: 4em;
}
