*.py[co]
 
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
*.orig
# Installer logs
pip-log.txt
scripts
#Translations
*.mo

#IDE
*~
\#*\#

#Galicaster unit test / coverage reports
.coverage
.tox
tests/resources/attach/
tests/resources/repository/attach/
tests/resources/profile/folder/

uib-conf-dist
profiles/
conf-dist.ini
conf.ini
diguib-startup.sh
usrpwd
roomname
scripts/
