#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=Galicaster
GenericName=Multistream Recorder
Comment=Galicaster: multistream recorder and player
Version=1.2.0
Exec=galicaster
Icon=galicaster
Terminal=false
MimeType=video/x-raw-yuv
Categories=Gstreamer;Python;GTK;Multistream;AudioVideo;VideoRecorder;VideoPlayer;Audio;Video
StartupWMClass=Galicaster
StartupNotify=true


